CIRCUITPY_WIFI_SSID = "ssid"
CIRCUITPY_WIFI_PASSWORD = "wifi_pass"
CIRCUITPY_WEB_API_PASSWORD = "api_pass"
CIRCUITPY_WEB_INSTANCE_NAME="eggcess"
MQTT_BROKER = "192.168.1.100"
MQTT_USER = "mqtt_user"
MQTT_PASS = "mqtt_pass"
LOCATION_LATLON = "51.365967,6.172045"
TRAVEL_MM = 50
AFTER_SUNSET = "0.5"
NOT_BEFORE = "7.0"
